* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.dark-panel {
  background-color: #1f2937;
}

/* Header */

.container {
  width: 960px;
  max-width: 100%;
  padding: 5px;
  margin: 0 25%;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container h1 {
  font-size: 18px;
  color: #f9faf8;
}

.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}

.main-nav li {
  display: inline;
}

.main-nav a {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #e5e7eb;
}

@media (min-width: 960px) {
  .main-header .container {
    justify-content: space-between;
  }
}

/* First Panel */

.main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}

.first-panel {
  display: flex;
  flex-direction: row;
  gap: 10%;
  padding: 6%;
}

.first-panel p {
  color: #e5e7eb;
  font-size: 18px;
}

.first-panel button {
  background-color: #3882f6;
  color: white;
  padding: 5px 15px 5px 15px;
}

.left-half {
  flex: 1;
}

.right-half {
  flex: 1;
  background-color: grey;
}

.right-half p {
  text-align: center;
}

/* Information */

.random-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
}

.random-info h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
}

.random-info ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
}

.random-info li {
  text-align: center;
  gap: 52px;
  flex: 1;
}

.image-placeholder {
  background-color: #1f2937;
  border-color: #1f2937;
  border-radius: 10%;
  max-width: 200px;
  min-height: 200px;
  margin: auto;
}

/* Quote */

.quote {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-weight: 300;
  background-color: #e5e7eb;
  padding: 7%;
}

.quote span {
  align-self: flex-end;
}


/* Call to action */

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.cta-wrapper {
  display: flex;
  gap: 100px;
  background-color: #0d6efd;
  border-radius: 15px;
  padding: 15px 50px 15px 50px;
}

.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
} 

.cta-wrapper button {
  background-color: #0d6efd;
  border: 1px solid white;
  color: white;
  padding: 0px 30px;
  border-radius: 8px;
  min-height: 40px;
}

.cta-button {
  display: flex;
  align-items: center;
}

.cta-wrapper button:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}



/* Footer */

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: #1f2937;
  color: white;
  padding: 16px;
}